{% extends "base.html" %}

{% block title %}Admin Logs{% endblock %}

{% block content %}

<h1>Geloggte Antworten</h1>

<h2>Wendepunkt</h2>

<table class="admin-table">
  <thead>
    <tr>
      <th>Benutzer</th>
      <th>Zeitpunkt</th>
      <th>TASK_ID</th>
      <th>Zug-Nr.</th>
      <th>Eingabe</th>
      <th>Korrekte Zug-Nr.</th>
      <th>Korrekt</th>
      <th>OK?</th>
    </tr>
  </thead>
  <tbody>
    {% for row in wendepunkt_logs %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ "ja" if row[7] else "nein" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Visualisierung</h2>

<table class="admin-table">
  <thead>
    <tr>
      <th>Benutzer</th>
      <th>Zeitpunkt</th>
      <th>Puzzle ID</th>
      <th>Halbzüge</th>
      <th>Eingabe</th>
      <th>Korrekt</th>
      <th>OK?</th>
    </tr>
  </thead>
  <tbody>
    {% for row in visualization_logs %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ "ja" if row[6] else "nein" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}