<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}
      Schachtraining
    {% endblock %}
  </title>

  <link rel="stylesheet"
        href="{{ url_for(
            'static',
            filename='css/app.css'
        ) }}">

  {% block styles %}{% endblock %}
</head>

<body>

  <header class="app-header">

    <div class="app-brand">
      <a href="{{ url_for('main.menu') }}">
        Schachtraining
      </a>
    </div>

   <nav class="app-nav">
     <a href="{{ url_for('chess960.index') }}">
      Schach960
    </a>
    <a href="{{ url_for('visualization.index') }}">
      Visualisierungsaufgaben
    </a>

    <a href="{{ url_for('play.select_fen') }}">
      Stellungen ausspielen
    </a>

    {% if is_admin %}
      <a href="{{ url_for('play.new_collection') }}">
        Neue Sammlung anlegen
      </a>

      <a href="{{ url_for('play.my_collections') }}">
        Meine Sammlungen
      </a>
    {% endif %}
  </nav>

    <form method="post"
      action="{{ url_for('main.set_piece_set') }}"
      class="piece-set-form">

  <select name="piece_set"
          onchange="this.form.submit()">

    {% for option in available_piece_sets %}
      <option value="{{ option }}"
              {% if option == piece_set %}selected{% endif %}>
        {{ option }}
      </option>
    {% endfor %}

  </select>
  </form>

    <div class="lichess-area">

      {% if user %}

        <span>
          ♟ {{ user.username }}
        </span>

        <a class="login-button secondary"
           href="{{ url_for(
             'auth.logout'
           ) }}">
           Logout
        </a>

      {% else %}

        <a class="login-button"
           href="{{ url_for(
             'auth.login',
             next=request.full_path
           ) }}">

           Mit Lichess einloggen
        </a>

      {% endif %}

    </div>

  </header>

  <main class="app-main">
    {% block content %}
    {% endblock %}
  </main>

  <script>
    window.PIECE_SET = {{ piece_set|tojson }};
  </script>
  {% block scripts %}{% endblock %}


</body>
</html>
