{% extends "base.html" %}

{% block title %}
  Schach960
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block content %}

<h1>Schach960</h1>

 <section class="board-panel">
     <h1>Schach 960 Startstellung</h1>
     {% include "board.html" %}
 </section>
<section class="side-panel">

  <div class="controls">

    <button id="draw-btn">
      Grundstellung auslosen
    </button>

    <p>
      <strong>FEN:</strong>
    </p>

    <code id="fen-output">
      {{ fen }}
    </code>

  </div>

</section>

{% endblock %}

{% block scripts %}

<script>
  window.INITIAL_FEN = {{ fen|tojson }};
</script>

<script src="{{ url_for(
    'static',
    filename='js/board.js') }}">
</script>

<script>
document.addEventListener("DOMContentLoaded", () => {

    const button = document.getElementById("draw-btn");

    button.addEventListener("click", async () => {

        const response = await fetch(
            "/schach960/auslosen",
            {
                method: "POST"
            }
        );

        const data = await response.json();

        document.getElementById(
            "fen-output"
        ).textContent = data.fen;

        window.setBoardFen(data.fen);
    });

});
</script>

{% endblock %}